.smallBox {
  background-color: var(--sm-box-bg);
  border-radius: .4rem;
  width: 6.25rem;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  transition: background 0.3s ease;
}

.smallBox img {
  width: 48px;
  height: 48px;
}

.smallBox h3 {
  color: var(--fnt-color-primary);
  font-weight: 600;
  font-size: 16px;
}



