@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

@keyframes rotateNeonBox {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em var(--primary-color),
            1.8em -1.8em 0 0em var(--secondary-color),
            2.5em 0em 0 0em var(--secondary-color),
            1.75em 1.75em 0 0em var(--secondary-color),
            0em 2.5em 0 0em var(--secondary-color),
            -1.8em 1.8em 0 0em var(--secondary-color),
            -2.6em 0em 0 0em var(--tertiary-color),
            -1.8em -1.8em 0 0em var(--quaternary-color);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em var(--quaternary-color),
            1.8em -1.8em 0 0em var(--primary-color),
            2.5em 0em 0 0em var(--secondary-color),
            1.75em 1.75em 0 0em var(--secondary-color),
            0em 2.5em 0 0em var(--secondary-color),
            -1.8em 1.8em 0 0em var(--secondary-color),
            -2.6em 0em 0 0em var(--secondary-color),
            -1.8em -1.8em 0 0em var(--tertiary-color);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em var(--tertiary-color),
            1.8em -1.8em 0 0em var(--quaternary-color),
            2.5em 0em 0 0em var(--primary-color),
            1.75em 1.75em 0 0em var(--secondary-color),
            0em 2.5em 0 0em var(--secondary-color),
            -1.8em 1.8em 0 0em var(--secondary-color),
            -2.6em 0em 0 0em var(--secondary-color),
            -1.8em -1.8em 0 0em var(--secondary-color);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em var(--secondary-color),
            1.8em -1.8em 0 0em var(--tertiary-color),
            2.5em 0em 0 0em var(--quaternary-color),
            1.75em 1.75em 0 0em var(--primary-color),
            0em 2.5em 0 0em var(--secondary-color),
            -1.8em 1.8em 0 0em var(--secondary-color),
            -2.6em 0em 0 0em var(--secondary-color),
            -1.8em -1.8em 0 0em var(--secondary-color);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em var(--secondary-color),
            1.8em -1.8em 0 0em var(--secondary-color),
            2.5em 0em 0 0em var(--tertiary-color),
            1.75em 1.75em 0 0em var(--quaternary-color),
            0em 2.5em 0 0em var(--primary-color),
            -1.8em 1.8em 0 0em var(--secondary-color),
            -2.6em 0em 0 0em var(--secondary-color),
            -1.8em -1.8em 0 0em var(--secondary-color);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em var(--secondary-color),
            1.8em -1.8em 0 0em var(--secondary-color),
            2.5em 0em 0 0em var(--secondary-color),
            1.75em 1.75em 0 0em var(--tertiary-color),
            0em 2.5em 0 0em var(--quaternary-color),
            -1.8em 1.8em 0 0em var(--primary-color),
            -2.6em 0em 0 0em var(--secondary-color),
            -1.8em -1.8em 0 0em var(--secondary-color);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em var(--secondary-color),
            1.8em -1.8em 0 0em var(--secondary-color),
            2.5em 0em 0 0em var(--secondary-color),
            1.75em 1.75em 0 0em var(--secondary-color),
            0em 2.5em 0 0em var(--tertiary-color),
            -1.8em 1.8em 0 0em var(--quaternary-color),
            -2.6em 0em 0 0em var(--primary-color),
            -1.8em -1.8em 0 0em var(--secondary-color);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em var(--secondary-color),
            1.8em -1.8em 0 0em var(--secondary-color),
            2.5em 0em 0 0em var(--secondary-color),
            1.75em 1.75em 0 0em var(--secondary-color),
            0em 2.5em 0 0em var(--secondary-color),
            -1.8em 1.8em 0 0em var(--tertiary-color),
            -2.6em 0em 0 0em var(--quaternary-color),
            -1.8em -1.8em 0 0em var(--primary-color);
    }
}