.container__main {
  margin-top: 6.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sections__containers {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.neon__box {
  position: relative;
  width: 400px;
}

.box__neon {
  position: relative;
  background-color: var(--card-box-color);
  display: flex;
  border-radius: 0.4rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.neon__container {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.neon__container.visible {
  opacity: 1;
}

.box__neon::before {
  content: '';
  text-align: center;
  position: absolute;
  width: 200px;
  height: 200%;
  background: linear-gradient(to bottom, #3e82b8 0%, #3e82b8 100%);
  animation: rotateNeonBox 4s linear infinite;
  
}

.box__neon::after {
  content: '';
  text-align: center;
  position: absolute;
  background: var(--card-box-color);
  inset: 5px;
  border-radius: inherit;
}

.section__box {
  position: relative;
  overflow: hidden;
  z-index: 4;
  /* Border Radius */
  border-radius: 10px;

  max-width: 710px;
  padding: 1rem;
  margin-bottom: 5rem;
  border: 2px solid #0c91ae;
  border-radius: 0.4rem;
  transition: ease 0.5s;
}

.last-update__container{
  display: flex;
  gap: 8px;
}

.container__title {
  position: absolute;
  top: -1.9rem;
  left: 1rem;
  padding: 0.8rem 1rem;
  background-color: var(--card-box-color);
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  z-index: 999;
}

.FST__font {
  background: linear-gradient(rgb(6, 61, 140) 0%, rgb(100, 186, 234) 100%) text;
  -webkit-text-fill-color: transparent;
}

.content__wrap {
  text-align: start;
}

.content__title {
  font-size: 14px;
  color: var(--fnt-color-primary);
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.achivs__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project__container {
  display: flex;
  flex-direction: column;
}

.projectImg__container {
  position: relative;
}

.projectImg__container img {
  width: 350px;
  height: 250px;
}

@media screen and (min-width: 652px) {
  .content__title {
    font-size: 1rem;

  }
}

@media screen and (min-width: 1024px) {

  .section__box {
    max-width: 1000px;
  }

  .content__title {
    font-size: 1.5rem;

  }

  .neon__box {
    width: 710px;
  }

  .section__wrapper1{
    height: 700px !important;
  }
}

.fadeIn{
  animation: fadeIn 2s ease-in-out;
}

