.container__main {
  margin-top: 6.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.sections__containers {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.section__box {
  position: relative;

  max-width: 710px;
  padding: 1rem;
  margin-bottom: 5rem;
  border: 2px solid #0c91ae;
  border-radius: 0.4rem;
  background-color: #0b0909;

  transition: ease 0.5s;
}
.container__title {
  position: absolute;

  top: -1.9rem;
  left: 1rem;

  
  padding: 0.8rem 1rem;

  background-color: var(--card-box-color);
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.FST__font {
  background: linear-gradient(rgb(6, 61, 140) 0%, rgb(100, 186, 234) 100%) text;
  -webkit-text-fill-color: transparent;
}

.content__wrap {
  text-align: start;
}

.content__title {
  font-size: 14px;
  color: var(--fnt-color-primary);
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.achivs__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project__container{
  display: flex;
  flex-direction: column;
}

.projectImg__container{
  position: relative;
}

.projectImg__container img{
  width: 300px;
  height: 160px;
}

@media screen and (min-width: 652px) {
  .content__title {
    font-size: 1rem;
    
  }
}

@media screen and (min-width: 1024px) {

    .section__box{
        max-width: 1000px;
    }

    .content__title {
        font-size: 1.5rem;
        
      }
}
