.container__banner {
  display: flex;
  margin-top: 10rem !important;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  gap: 4.8rem;
  transition: 0.3s all linear;
}


.banner__intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #d9d9d9;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 1.2rem;
}

.banner__intro h1 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.banner__intro h2 {
  font-size: 24px;
  font-weight: 600;
}
.banner__intro p {
  font-size: 23px;
  font-weight: 400;
}

.socials__links {
  display: flex;
  gap: 1rem;
  padding:1.2rem;
}
.socials__links .link {
  color: var(--default-blue-color);
  font-size: 2.7rem;
  transition: ease .3s;
}
.socials__links .link:hover {
  color: var(--fnt-color-primary);
  transform: scale(1.2);
}

.banner__text-container{
  position: relative;
  width: 400px;
  height: 250px;
}
.banner__text {
  padding: 62px 12px;
  background-color: var(--card-box-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  width: 100%;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
  /* Border Radius */
	border-radius: 10px;
  
}

.banner__text:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
  /*border color, change middle color*/
	background-image: conic-gradient(rgba(0,0,0,0), #3e82b8, rgba(0,0,0,0) 25%);
  /* change speed here */
	animation: rotate 4s linear infinite;
}

.banner__text:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
	background: var(--card-box-color);
  /*box border radius*/
	border-radius: 7px;
}


.text {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--fnt-color-primary);
}
.bracket__icon {
  color: #11b1d3;
}

.title_banner {
  background: var(--banner-fnt-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




@media screen and (min-width: 768px) {
  .banner__intro p {
    font-size: 28px;
  }
  .banner__intro h1 {
    font-size: 40px;
  }
  .banner__intro h2 {
    font-size: 28px;
  }
}




