@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

/* Default Light mode colors */
:root {
  --clr-primary: rgb(236, 236, 236);
  --bx-clr-dark: rgb(200, 200, 200);
  --bx-clr-light: rgb(244, 244, 244);
  --border-trail: #dceff8;
  --bd-bg-gradient: linear-gradient(to bottom, #fa8f91 0%, #fedc4d 100%);
  --box-color: #3e82b8;
  --card-box-color:#edf8fc;
  --card-border-color:#0c91ae;
  --section-sm-box-color:#edf8fc;
  --fnt-color-primary:#110f10;
  --banner-fnt-color:#3e82b8;
}

/* Dark mode colors */
.darkmode {
  --section-sm-box-color:rgb(11, 9, 9);
  --card-box-color:#110f10;
  --card-border-color:#0c91ae;
  --clr-primary: rgb(50, 50, 50);
  --bx-clr-dark: rgb(35, 35, 35);
  --bx-clr-light: rgb(55, 55, 55);
  --box-color: #fff;
  --bd-bg-gradient: linear-gradient(to bottom, #1B2735 0%, #090A0F 100%);
  --dm-fnt-color: #fff;
  --tb-color: -webkit-linear-gradient(white, #38495a);
  --border-trail: #110f10;
  --fnt-color-primary:#fff;
  --banner-fnt-color:-webkit-linear-gradient(white, #38495a);
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  border: 10px solid transparent;
    animation: borderAnimation 8s linear infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Center the button */
.center{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transform: scale(1.5);
  border: 2px solid var(--box-color);
  border-radius: 16px;
}


.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

/* Default Switch Styling */
.switch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 16px;
  
  
}

/* Default Slider Styling */
.slider {
  position: absolute;
  top: 2px;
  left: 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  transition: transform;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;

}

.switch:hover{
  cursor: pointer;
  
}

/* Move the center of switch */
input:checked + .slider{
  transform: translatex(20px);
  
}

/* ========================= Sun ========================*/

.sun{
  background-color: #3e82b8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px var(--bx-clr-dark), -2px -2px -2px var(--bx-clr-light);
  position: absolute;
  transition: all 350ms ease-in-out;
}

/* Sun movement on toggle*/
input:checked + .slider > .sun{
  transform: rotatez(180deg);
  pointer-events: none;
}

/*Sun glow when toggled to light(or sun) mode*/
.sun-glow{
  box-shadow: 0 0 3px 2.5px #3e82b8;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  z-index: -1;
  opacity: 20%;
  transition: opacity 350ms ease-in-out;
}

/* When toggled to dark */
input:checked + .slider > .sun > .sun-glow{
  opacity: 0;
}


/* ========================= Moon ========================*/

.moon{
  z-index: 5;
  opacity: 0;
  position: absolute;
  background-color: rgb(210, 210, 220);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px var(--bx-clr-dark), -2px -2px -2px var(--bx-clr-light);
  transition: all 350ms ease-in-out;
}

/* Default Moon when switch is set to light(or sun) */
.moon-glow {
  position: absolute;
  box-shadow: 0 0 3px 2.5px rgb(220, 220, 230);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  z-index: -1;
  opacity: 0%;
  transition: opacity 350ms ease-in-out;
}

/* Moon movement */
input:checked + .slider > .moon{
  transform: rotatez(180deg);
  z-index: 1;
  opacity: 1;
}

/* glow toggled when swtiched to darkmode */
input:checked + .slider > .moon > .moon-glow{
  opacity: 20%;
}

/* Moon Details */
.impact-sm{
  position: absolute;
  margin-left: 8px;
  margin-top: 2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  
}


.impact-md{
  position: absolute;
  margin-left: 12px;
  margin-top: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(195, 195, 215);
  
}

.impact-lg{
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
    box-shadow: 0 0 0 0 var(--border-trail);
  }
  25% {
    border-color: var(--border-trail);
    box-shadow: 0 0 10px 5px var(--border-trail);
  }
  50% {
    border-color: transparent;
    box-shadow: 0 0 0 0 var(--border-trail);
  }
  75% {
    border-color: var(--border-trail);
    box-shadow: 0 0 10px 5px var(--border-trail);
  }
  100% {
    border-color: transparent;
    box-shadow: 0 0 0 0 var(--border-trail);
  }
}